page-login {
    .content {
        background-color: #fafafa !important;
    }
    .text-center {
        text-align: center;
    }
    
}
.logo {
    max-height: 130px;
    display: block;
}

.logo-text {
    width: 100%;
    color: #000;
}