page-new-palm {

    font-size: 300% !important;

    ion-input, ion-label {
         
            font-size: 400% !important;
        
    }
  .payment {
        width: 100%;
        text-align: center;
        position: relative;
        top: 50vh;
        transform: translateY(-75%);
    }

}
