page-history-list {

  .card-header-valor {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 16px;
  }

  .col-note {
    padding-top: 14px;
  }

  .valor {
    font-size: 25px;
    font-weight: bold;
    color: #322286;
  }

  .comercio {
    font-weight: bold;
  }

}
